    html, body{
        margin:0;
        height:100%;
    }
    body{
        font-size: 13px;
        height:100%;
    }
    /*去除所有圆角属性*/
    /** {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }*/
/*----------------------------------左侧开始-------------------------------------*/
    /*左背景色*/
    .left{
        background-color: #40414A;
    }
    .left > *{
        color: rgba(255, 255, 255, 0.5);
    }
    /*选择模式样式*/
    .check-mode,
    .check-mode:hover, .check-mode:focus, .check-mode:active:focus,
    .open > .dropdown-toggle.check-mode,
    /*.open > .dropdown-toggle.check-mode:hover,*/
    .open > .dropdown-toggle.check-mode:focus{
        background-color: #4A90E2;
        border-radius: 4px !important;
        border-color: #4A90E2 !important;
        color: #FFFFFF;
    }
    /*选择模式展开列表*/
    .check-mode-spread, .check-mode-spread > li > a{
        width: 100%;
        background-color: #40414A;
        color: rgba(255, 255, 255, 0.5);
    }
    /*面包屑*/
    .breadcrumb{
        background-color: #40414A;
    }
/*----------------------------------右侧开始------------------------------------------*/
    /*接口名称*/
    .interface-name{
        background: rgba( 216, 216, 216, 0.15);
    }
    /*接口描述*/
    .interface-description{
        background: rgba( 216, 216, 216, 0.15);
    }
    /*接口内容*/
    .interface-content{
        border: 1px solid #D9D9DB;
        margin-left: 11px;
        margin-right: 11px;
        border-radius: 4px;
    }
    /*接口url/type/save--back*/
    .interface-type-url-save-back{
        padding-top: 10px;
        /*padding-bottom: 10px;*/
        background: rgba( 216, 216, 216, 0.15);
    }
    /*接口url/type/save--padding*/
    .interface-type-url-pad{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*接口type，接口url*/
    .interface-type, .interface-url{
        background: rgba( 216, 216, 216, 0);
    }
    /*接口参数*/
    .interface-params{
        background: rgba( 216, 216, 216, 0.15);
    }
    /*各个参数名称*/
    /*navpills导航栏样式*/
        /*选中时*/
        .nav-pills > li.active > a{
            color: #4A90E2;
            background-color: rgba( 216, 216, 216, 0);
        }
        /*鼠标悬浮*/
        .nav > li > a:hover{
            color: #CDCDCD;
            background-color: rgba( 216, 216, 216, 0);
        }
        /*切换时*/
        .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
            color: #4A90E2;
            background-color: rgba( 216, 216, 216, 0);
        }
    /*query/headers/path/body/response样式*/
    .cus-right-bottom-input input{
        border: 0px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)
    }
    .cus-right-bottom-input input:disabled{
        background: rgba(216, 216, 216, 0.15);
        border: 1px solid rgba(64, 65, 74, 0.15);
        border-radius: 4px !important;
        cursor: default;
    }
    caption{
        background: #4A90E2;
        width: 100px;
        margin-left: -10px;
        margin-bottom: 10px;
        text-align: center;
        color: #FFFFFF
    }