    /*选中样式*/
    .cus-select{
        background-color: #1890FF !important;
    }
    /*统一外边框*/
    .mrg{
        margin: 20px 0px;
    }
    /*图标变化*/
    .cursor{
        cursor: pointer;
    }
    /*input样式*/
    .cus-input > input{
        border: 0px !important;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075) !important;
    }
    .cus-input{
        border-bottom: 1px solid #D3D3D3 !important;
    }
    .form-control[disabled]{
        background-color: #fff;
        cursor: default;
    }
    /*树样式*/
    .treeview span.icon{
        margin-right: 12px !important;
    }

    .nav-pills > li.active > a{
        color: #0f0f0f;
        background-color: #fff;
    }
    /*params headers body response 选中下划线*/
    .nav-pills > li.active{
        border-bottom: 2px solid #1890FF;
    }
    .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
        color: #0f0f0f;
        background-color: #fff;
    }
    .nav > li > a:hover{
        color: #CDCDCD;
        background-color: #fff;
    }
    a{
        color: #CDCDCD;
    }