    html, body{
        margin:0;
        height:100%;
    }
    body{
        font-size: 13px;
        height:100%;
    }
    /*去除所有圆角属性*/
    * {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    /*滚动条样式*/
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #fff;
    }
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: #555;
    }
    /**/
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    /**/
    .col-md-2{
        padding-right: 0px !important;
        height: 100%;
        overflow: auto;
    }
    .col-md-10{
        padding-left: 0px !important;
        height: 100%;
        overflow: auto;
    }
    /*树样式*/
    .node-history {
        border-bottom: 2px solid #D3D3D3 !important;
    }
    .treeview span.icon{
        margin-right: 12px !important;
    }
    .treeview .list-group-item{
        padding: 20px 0px !important;
    }
    .treeview span.indent{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    /*navpills导航栏样式*/
    .nav-pills > li.active > a{
        color: #0f0f0f;
        background-color: #fff;
    }
    .nav-pills > li.active{
        border-bottom: 2px solid #FF5733;
    }
    .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
        color: #0f0f0f;
        background-color: #fff;
    }
    .nav > li > a:hover{
        color: #CDCDCD;
        background-color: #fff;
    }
    a{
        color: #CDCDCD;
    }
    /*分割线样式*/
    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #D3D3D3;
    }
    /*图标指针变化及大小*/
    .treeview .list-group-item {
        cursor: auto !important;
    }
    .cursor{
        cursor: pointer;
        font-size: 10px;
    }
    /*设置右顶导航栏navtabs导航样式*/
    .cus-nav-tabs{
        position: relative;
    }
    .nav-tabs > li.active > a{
        border-top: 2px solid #FF5733;
    }
    .nav-tabs > li.active > a:hover{
        border-top: 2px solid #FF5733;
    }
    .nav-tabs > li.active > a:focus{
        border-top: 2px solid #FF5733;
    }
    .cus-right-top-height{
        height: 25px;
        padding: 5px 5px !important;
    }
    /*接口名称input样式*/
    .cus-interface-name{
        width: 15%;
        display: inline;
        border: 0px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)
    }
    .cus-interface-description{
        display: inline;
        border: 0px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)
    }
    .cus-input{
        border-bottom: 1px solid #D3D3D3 !important;
    }
    /*右下input框*/
    .cus-right-bottom-input input{
        border: 0px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)
    }
    /*右下模块边框*/
    .right-bottom-border{
        border: 1px solid #D3D3D3;
    }
    /*右下导航栏navpills*/
    .cus-nav-right-pills{
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
    }
    /*设置左导航栏*/
    .cus-left-nav-pills{
        width: 49%
    }
    /*文字居中*/
    .cus-text-align{
        text-align: center;
    }
    /*右顶导航栏关闭按钮*/
    .cus-close-icon{
        margin-left: 10px;
    }
    /*设置右顶导航栏添加按钮*/
    .cus-icon{
        width: 20px;
        position: absolute;
        top:35%;
        margin-left: 10px;
    }
    /*统一margin*/
    .mrg {
        /*margin: 15px 15px;*/
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .div-mrg{
        margin-left: 10px;
        margin-right: 10px;
    }
    /*padding-left*/
    .cus-padding{
        padding-left: 10px;
    }
    /*统一右浮动*/
    .flo{
        float: right;
    }
    /*右侧模块左边框*/
    .cus-right-left-border{
        border-left: 1px solid #D3D3D3;
    }
    /*textarea*/
    .cus-textarea{
        /*border-left: 0px;*/
    }
    /**/
    .cus-btn{
        color: #fff;
        background-color: #1890FF;
        border-color: #1890FF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    }
    .cus-btn:hover, .cus-btn:focus {
         color: #fff;
         background-color: #40a9ff;
         border-color: #40a9ff;
    }
    /*json编辑器*/
    .jsoneditor-menu{
        display: none;
    }
    .jsoneditor-outer, .has-main-menu-bar {
         margin-top: 0px !important;
         padding-top: 0px !important;
    }
    .cus-jsoneditor{
        height: 300px;
    }