<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.ih.db.mapper.IhDirectoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.ih.db.model.IhDirectory">
        <id column="directory_id" property="directoryId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="state" property="state" />
        <result column="flag" property="flag" />
        <result column="valid" property="valid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="parent_directory_id" property="parentDirectoryId" />
    </resultMap>

    <resultMap id="directory" type="com.egg.ih.db.model.IhDirectory">
        <collection property="classes"
                    javaType="java.util.ArrayList"
                    ofType="com.egg.ih.db.model.IhDirectory"
                    column="directory_id"
                    select="com.egg.ih.db.mapper.IhClassMapper.findClassesByDirectoryId"/>
    </resultMap>

    <select id="findDirectory" resultMap="directory">
        select * from ih_directory
          where valid = 'Y';
    </select>

</mapper>
