<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.ih.db.mapper.IhHiOperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.ih.db.model.IhHiOper">
        <id column="hi_oper_id" property="hiOperId" />
        <result column="interface_id" property="interfaceId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="url" property="url" />
        <result column="oper_ip" property="operIp" />
    </resultMap>

</mapper>
